@import "reset";
@import "variable";

.container {
  max-width: 1110px;
  margin: 0 auto;
  @include pad {
    max-width: 690px;
  }
  @include phone {
    padding: 0 15px;
  }
}

ul.items-4-3 {
  display: flex;
  flex-wrap: wrap;
  li.item {
    width: 25%;
    box-sizing: border-box;
  }
  @include pad {
    li.item {
      width: 50%;
    }
  }
  @include phone {
    li.item {
      width: 100%;
    }
  }
}

ul.items-3-3 {
  display: flex;
  flex-wrap: wrap;
  li.item {
    width: 33%;
    box-sizing: border-box;
  }
  @include pad {
    li.item {
      width: 50%;
    }
  }
  @include phone {
    li.item {
      width: 100%;
    }
  }
}
