<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <h1 class="title">
      <a href="index.html">
        <img src="assets/images/logo-new_工作區域 1@2x.png" alt="logo">
      </a>
    </h1>
    <ul class="menu">
      <li><a href="type-1.html">系列鏡框</a></li>
      <li><a href="location.html">門市據點</a></li>
      <li><a href="#">部落格</a></li>
      <li><a href="#">常見問題</a></li>
    </ul>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="container">
      <div class="contacts">
        <ul class="left">
          <li>
            <ul class="page-links">
              <li><a href="index.html">首頁</a></li>
              <li><a href="type-1.html">系列鏡框</a></li>
              <li><a href="location.html">門市據點</a></li>
              <li><a href="#">部落格</a></li>
              <li><a href="#">常見問題</a></li>
            </ul>
            <ul class="phone-email">
              <li>
                <img src="assets/images/icon/local_phone-24px.svg" alt="phone">
                <a href="tel:+886-0800-000-000">0800-000-000</a>
              </li>
              <li>
                <img src="assets/images/icon/mail_outline-24px.svg" alt="email">
                <a href="mailto:glasses@business.com">glasses@business.com</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="sns-icons">
          <li><a href="#">
              <img src="assets/images/icon/ic_social_fb.svg" alt="facebook">
            </a></li>
          <li><a href="#">
              <img src="assets/images/icon/ic_social_ig.svg" alt="instagram">
            </a></li>
          <li><a href="#">
              <img src="assets/images/icon/ic_social_line.svg" alt="line">
            </a></li>
        </ul>
      </div>
      <div class="copyright">
        <div class="content">
          <div class="logo-copyright">
            <img src="assets/images/logo-new_工作區域 1@2x.png" alt="logo">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
          </div>
          <div class="icon-content">
            <ul>
              <li><a href="#">隱私權政策</a></li>
              <li><a href="#">服務條款</a></li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>